<p-table (onRowSelect)="onRowSelect($event)" [(selection)]="selectedDrug" [columns]="cols" [paginator]="true"
         [rows]="15" [value]="drugs" selectionMode="single">
  <ng-template pTemplate="caption">
    List of Rx
  </ng-template>
  <ng-template let-columns pTemplate="header">
    <tr>

      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template let-columns="columns" let-rowData pTemplate="body">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>
  <ng-template let-rowData pTemplate="summary">
    <div style="text-align:left">
      <button (click)="showDialogToAdd()" label="Prescribe" pButton type="button"></button>
    </div>
  </ng-template>

</p-table>
<h1>hi {{displayDialog}}</h1>
<app-rx-form
  [type]="type"
  [display]="displayDialog"
  [drug]="drug"
  (onSave)="save($event)"
  (onDelete)="delete($event)"
  (onClose)="hideDialog()"
></app-rx-form>
