<form [formGroup]="form">
  <div class="name-and-id">
    <div class="tech-title-input">
      <span class="form-title dark">Technician 1 Name</span>
      <input class="tech-input" formControlName="techName1" id="tech1" pInputText type="text">
    </div>
    <div class="tech-title-input">
      <span class="form-title dark">ID #</span>
      <input class="tech-input" formControlName="techId1" id="id1" pInputText type="text">
    </div>
  </div>
  <div class="name-and-id">
    <div class="tech-title-input">
      <span class="form-title dark">Technician 2 Name</span>
      <input class="tech-input" formControlName="techName2" id="tech2" pInputText type="text">
    </div>
    <div class="tech-title-input">
      <span class="form-title dark">ID #</span>
      <input class="tech-input" formControlName="techId2" id="id2" pInputText type="text">
    </div>
  </div>
</form>
