<p-card header="Patient Summary">
  <div class="pt-sum">
    <div>
      <img alt="here" class="pt-pic" src="../../assets/noimg.jpg">
    </div>
    <div class="pt-info-and-edit">
      <div>
        <h3>Sophie Richmond</h3>
        <div>
          <ul class="pt-sum-info">
            <li><b>Age:</b> 21</li>
            <li><b>Gender:</b> Female</li>
            <li><b>DOB:</b> Feb, 11, 1997</li>
            <li><b>Address:</b> 2 Freedom Way</li>
          </ul>
        </div>
      </div>
      <div>
        <p-button label="Edit"></p-button>
      </div>
    </div>
  </div>
</p-card>
