.content {
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;

}

.all-but-footer {
  min-height: calc(100vh - 50px);
}

.placeholder {
  width: 300px;
  height: 300px;
  margin-top: 20vh;
}

.placeholder-div {
  display: flex;
  justify-content: center;
}

a {
  color: white;
}

a:hover {
  color: black
}

.source-code {
  margin-top: 15px;
}

.footer {
  color: white;
  background-image: linear-gradient(#1368d8 1%, #0f51a9 100%);
  display: flex;
  justify-content: center;
  height: 50px;
}
