<p-toast [style]="{marginTop: '80px'}" key="tc" position="top-right"></p-toast>

<form [formGroup]="form" (ngSubmit)="submit()">
  <h2>Login</h2>
  <span class="ui-float-label">
        <input formControlName="username" id="float-input" type="text" size="30" pInputText>
        <label for="float-input">Username</label>
      </span>
  <span class="ui-float-label">
        <input formControlName="password" id="float-password" [feedback]="false" pPassword size="30" type="password"/>
        <label for="float-input">Password</label>
      </span>
  <div class="submit-btn-div">
    <button class="submit-btn" label="Submit" pButton type="submit"
            [disabled]="!(form.dirty && form.valid)"></button>
  </div>
  <p class="sign-up">Don't have an account? <a routerLink="/profile/create">Sign Up</a></p>
</form>
