.pt-pic {
  width: 150px;
  height: 150px;
}

.pt-sum {
  display: flex;
  width: 100%;
}

.pt-sum-info {
  list-style: none
}

.pt-info-and-edit {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-controls {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

