<p-card>
  <h2 class="first">Patient Details</h2>
  <p-tabView
    (onChange)="handleChange($event)">
    <p-tabPanel
      class="no-pad"
      header="Prescriptions"
      leftIcon="pi pi-list"
    >
      <app-table
        (addRow)="addRx($event)"
        (editRow)="editRx($event)"
        (deleteRow)="deleteRx($event)"
        [cols]="columns.rx"
        [rows]="patient.scripts"
        addRowButtonLabel="Prescribe"
        addRowModalTitle="Edit Prescription"
        tableTitle="Prescriptions"
      ></app-table>
    </p-tabPanel>
    <p-tabPanel header="Medical History" leftIcon="pi pi-user">
      <app-table
        (addRow)="addHistory($event)"
        (deleteRow)="deleteHistory($event)"
        (editRow)="editHistory($event)"
        [cols]="columns.history"
        [rows]="patient.history"
        addRowButtonLabel="Add Diagnosis"
        tableTitle="Previous Diagnoses"
        addRowModalTitle="Edit Diagnosis"
      ></app-table>
    </p-tabPanel>
    <p-tabPanel header="Allergies" leftIcon="pi pi-eye">
      <app-table
        (addRow)="addAllergy($event)"
        (deleteRow)="deleteAllergy($event)"
        (editRow)="editAllergy($event)"
        [cols]="columns.allergy"
        [rows]="patient.allergies"
        addRowButtonLabel="Add Allergy"
        tableTitle="Allergies"
        addRowModalTitle="Edit Allergy"
      ></app-table>
    </p-tabPanel>
    <p-tabPanel header="PCRs" leftIcon="pi pi-calendar-plus">
      <app-pcr-list></app-pcr-list>

    </p-tabPanel>
    <p-tabPanel header="Other Notes" leftIcon="pi pi-pencil">
      <app-pt-notes
        (notesEdit)="changeNotes($event)"
        [notes]="patient.notes"
      ></app-pt-notes>
    </p-tabPanel>
  </p-tabView>
</p-card>
