
.profile-chip {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  font-size: 25px;
  color: white;
  text-align: center;
  background: #fc5226;
  margin-right: 10px;
  margin-top: 10px;
  line-height: 41px;
  font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
}
