<div [ngSwitch]="row.type">
  <form [formGroup]="form">
    <div *ngSwitchCase="'date'" class="ui-g-12">
      <p *ngIf="form.get(row.controlName).errors?.validateDate" class="error">mm/dd/yyyy</p>
      <div class="ui-g-4">
        <p>{{row.label}}&nbsp;<span *ngIf="row.required" class="required">*</span></p>
      </div>
      <div class="ui-g-8">
        <input [formControlName]="row.controlName" [id]="row.controlName" [placeholder]="row.hint" pInputText/>
      </div>
    </div>
    <div *ngSwitchCase="'number'" class="ui-g-12">
      <div class="ui-g-4">
        <p>{{row.label}}&nbsp;<span *ngIf="row.required" class="required">*</span></p>
      </div>
      <div class="ui-g-8">
        <input [formControlName]="row.controlName" [placeholder]="row.hint" pInputText pKeyFilter="int"
               type="text">
      </div>
    </div>
    <div *ngSwitchCase="'sex'" class="ui-g-12">
      <div class="ui-g-4">
        <p>{{row.label}}&nbsp;<span *ngIf="row.required" class="required">*</span></p>
      </div>
      <div class="ui-g">
        <div class="ui-g-12">
          <p-radioButton [formControlName]="row.controlName" inputId="opt1" label="Male" name="group1"
                         value="Male"></p-radioButton>
        </div>
        <div class="ui-g-12">
          <p-radioButton [formControlName]="row.controlName" inputId="opt2" label="Female" name="group1"
                         value="Female"></p-radioButton>
        </div>
      </div>
    </div>

    <div *ngSwitchDefault class="ui-g-12">
      <p *ngIf="row.controlName ==='name' && form.get(row.controlName).errors?.noForbiddenNames" class="error">That
        patient already exists</p>
      <div class="ui-g-4">
        <p>{{row.label}}&nbsp;<span *ngIf="row.required" class="required">*</span></p>
      </div>
      <div class="ui-g-8">
        <input [formControlName]="row.controlName" [id]="row.controlName" [placeholder]="row.hint" pInputText/>
      </div>
    </div>
  </form>
</div>
