<div class="banner">

  <div class="components">

    <div class="top">

      <h1 class="title">Patient Portal</h1>
    </div>
    <p-autoComplete
      (completeMethod)="filterPatientSingle($event)"
      (onSelect)="checkSelection()"
      [(ngModel)]="input"
      [minLength]="1"
      [size]="100"
      [suggestions]="filteredPatients"
      class="search"
      field="name"
      placeholder="Enter a patient..."
    ></p-autoComplete>
    <button (click)="newPatient()" class="ui-button-secondary" label="New Patient" pButton type="button"></button>
  </div>
</div>
