<div class="banner">

  <div class="components">

    <div class="top">

      <h1 class="title">Patient Portal</h1>
    </div>
    <div class="search-button">
      <p-autoComplete
        (completeMethod)="filterPatientSingle($event)"
        (onSelect)="checkSelection()"
        [(ngModel)]="input"
        [dropdown]="true"
        [inputStyle]="{'width':'100%'}"
        [minLength]="1"
        [style]="{'display':'flex', 'justify-content':'center', 'margin-right': '15px'}"
        [suggestions]="filteredPatients"
        class="search"
        field="info.name"
        placeholder="Enter a patient..."
      ></p-autoComplete>
      <button (click)="newPatient()" class="ui-button-secondary new-patient" label="New Patient" pButton
              type="button"></button>
    </div>
  </div>
</div>
