<p-dialog (onHide)="hide()" [(visible)]="display" [modal]="true" [responsive]="true" header="Drug Details"
          showEffect="fade">
  <div *ngIf="drug" class="ui-g ui-fluid">
    <form [formGroup]="form">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="date">Date</label>
        </div>
        <div class="ui-g-8">
          <p-calendar [showIcon]="true" formControlName="date" id="date"></p-calendar>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="drug">Drug</label>
        </div>
        <div class="ui-g-8">
          <input formControlName="drug" id="drug" pInputText/>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="dosage">Dosage</label>
        </div>
        <div class="ui-g-8">
          <input formControlName="dosage" id="dosage" pInputText/>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="reason">Reason</label>
        </div>
        <div class="ui-g-8">
          <input formControlName="reason" id="reason" pInputText/>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="prescriber">Prescribed by</label>
        </div>
        <div class="ui-g-8">
          <input formControlName="prescriber" id="prescriber" pInputText/>
        </div>
      </div>
    </form>
  </div>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <div *ngIf="type==='edit'">
        <button (click)="delete()" class="ui-button-danger" label="Delete" pButton type="button"></button>
      </div>
      <button (click)="hide()" class="ui-button-secondary" label="Cancel" pButton type="button"></button>
      <button (click)="save()" label="Save" pButton type="button"></button>
    </div>
  </p-footer>
</p-dialog>
