<p-dialog
  (onHide)="hide()"
  [(visible)]="display"
  [header]="headerTitle"
  [modal]="true"
  [responsive]="true"
  showEffect="fade">
  <div *ngIf="row" class="ui-g ui-fluid">
    <form [formGroup]="form">
      <div *ngFor="let col of cols" [ngSwitch]="col.field">
        <div *ngSwitchCase="'date'" class="ui-g-12">
          <div class="ui-g-4">
            {{col.header}}
          </div>
          <div class="ui-g-8">
            <p-inputMask [formControlName]="col.field" mask="99/99/9999" slotChar="mm/dd/yyyy"
                         styleClass="ui-inputtext"></p-inputMask>
          </div>
        </div>
        <div *ngSwitchCase="'dob'" class="ui-g-12">
          <div class="ui-g-4">
            {{col.header}}
          </div>
          <div class="ui-g-8">
            <p-inputMask [formControlName]="col.field" mask="99/99/9999" slotChar="mm/dd/yyyy"
                         styleClass="ui-inputtext"></p-inputMask>
          </div>
        </div>
        <div *ngSwitchCase="'age'" class="ui-g-12">
          <div class="ui-g-4">
            {{col.header}}
          </div>
          <div class="ui-g-8">
            <input [formControlName]="col.field" pInputText pKeyFilter="int" placeholder="Age" type="text">
          </div>
        </div>
        <div *ngSwitchDefault class="ui-g-12">

          <div class="ui-g-4">
            {{col.header}}
          </div>
          <div class="ui-g-8">
            <input [formControlName]="col.field" [id]="col.field" pInputText/>
          </div>
        </div>
      </div>
    </form>
  </div>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <div *ngIf="!new; else add" class="form-controls">
        <div>
          <button (click)="hide()" class="ui-button-secondary" label="Cancel" pButton type="button"></button>
          <button (click)="edit()" label="Update" pButton type="button"></button>
        </div>
        <button (click)="delete()" class="ui-button-danger" label="Delete" pButton type="button"></button>
      </div>
      <ng-template #add>
        <div>
          <button (click)="hide()" class="ui-button-secondary" label="Cancel" pButton type="button"></button>
          <button (click)="save()" label="Save" pButton type="button"></button>
        </div>
      </ng-template>
    </div>
  </p-footer>
</p-dialog>
