<p-dialog
  (onHide)="hide()"
  [(visible)]="display"
  [header]="headerTitle"
  [modal]="true"
  [responsive]="true"
  showEffect="fade">
  <div *ngIf="row" class="ui-g ui-fluid">
    <form [formGroup]="form">
      <div *ngFor="let col of cols">
        <app-form-control
          [form]="form"
          [row]="col"
        ></app-form-control>
      </div>
    </form>
  </div>

  <p-footer>
    <app-save-controller
      (deleteForm)="delete()"
      (editForm)="edit()"
      (hideModal)="hide()"
      (saveForm)="save()"
      [form]="form"
      [new]="new"
    ></app-save-controller>
  </p-footer>
</p-dialog>
