<p-table (onRowSelect)="onRowSelect($event)" [(selection)]="selectedRow" [columns]="cols" [paginator]="true"
         [rows]="15" [value]="rows" selectionMode="single">
  <ng-template pTemplate="caption">
    {{tableTitle}}
  </ng-template>
  <ng-template let-columns pTemplate="header">
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.controlName">
        {{col.label}}
        <p-sortIcon [field]="col.controlName"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template let-columns="columns" let-rowData pTemplate="body">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        {{rowData[col.controlName]}}
      </td>
    </tr>
  </ng-template>
  <ng-template let-rowData pTemplate="summary">
    <div style="text-align:left">
      <button (click)="showDialogToAdd()" [label]="addRowButtonLabel" pButton type="button"></button>
    </div>
  </ng-template>

</p-table>
<app-form
  [new]="new"
  [cols]="cols"
  [display]="visible"
  [row]="selectedRow"
  [forbiddenNames]="patientNames$ | async"
  [headerTitle]="addRowModalTitle"
  (addRow)="save($event)"
  (editRow)="edit($event)"
  (deleteRow)="delete($event)"
  (closeDialog)="hideDialog()"
></app-form>
